@model Cart
<h2>Sepetiniz</h2>

<table>
	<thead>
		<tr>
			<th>Ürün Adı</th>
			<th>Fiyat</th>
			<th>Adet</th>
			<th>Toplam</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
		{
			<tr>
				<td>@item.Product.Name</td>
				<td>@item.Product.Price</td>
				<td>@item.Quantity</td>
				<td>@(item.Product.Price * item.Quantity)</td>
			</tr>
		}
	</tbody>
</table>

<h3>Toplam: @Model.Total</h3>